.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2.4rem;
  width: calc(100% - 2.4rem * 2);
  height: calc(100vh - 2.4rem * 2 - 6.8rem);

  .userContainer {
    width: 20%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid var(--gray-200);

    .text1 {
      margin: 1.5rem 0 0 1.5rem;
      font-size: 1.7rem;
      font-weight: 700;
    }
  }

  .noticeContainer {
    width: 80%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid var(--gray-200);

    .fillterContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3rem;

      input {
        margin-right: 2rem;
        padding: 0 0 0 0.5rem;
        width: 17rem;
        height: 3.5rem;
        border-radius: 7px;
        border: 1px solid var(--gray-300);
        font-family: var(--font-family);
      }

      input:focus {
        border-color: initial;
        background-color: initial;
        color: initial;
        box-shadow: none;
      }

      .searchButton {
        margin-right: 2rem;
        padding: 0.7rem 1rem;
        background-color: #ffffff;
        border-radius: 7px;
        border: 1px solid var(--gray-300);
        font-size: 1.2rem;
        font-family: var(--font-family);
        color: var(--gray-700);
      }

      .searchButton:hover {
        border: 1.5px solid var(--gray-400);
      }

      .bookmarkButton {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.7rem 1rem;
        background-color: #ffffff;
        border-radius: 7px;
        border: 1px solid var(--gray-300);

        .plusIcon {
          margin: 0 0.5rem 0 0;
          color: var(--gray-700);
        }

        div {
          font-size: 1.2rem;
          font-family: var(--font-family);
          color: var(--gray-700);
        }
      }

      .bookmarkButton:hover {
        border: 1.5px solid var(--gray-400);
      }
    }

    .itemList {
      margin: 0 2.5rem 0 1rem;
    }
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: absolute;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  text-align: center;
}