.categoryContainer {
  width: 100%;

  .categoryButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .close {
      color: var(--gray-400);
      font-weight: 700;
      margin-top: 0.4rem;
    }

    .content {
      display: flex;

      .star {
        margin: 0.4rem 1rem 0 0;
        color: #fcd34d;
      }

      div {
        font-size: 1.5rem;
      }
    }
  }
}
