.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  // align-content: start;
  gap: 1.2rem;
  width: 100%;
  max-width: 43.6rem;
  max-height: 47.8rem;
  flex-shrink: 0;
  background-color: white;
  border-radius: 1rem;
  z-index: 101;
  padding: 2.1rem 2.5rem;
  overflow-x: auto;

  @media (max-width: 420px) {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    // align-items: center;
    align-content: flex-start;
    gap: 2rem;
    border-radius: 0;
    padding: 10rem 2.5rem;
  }
}

.title {
  display: block;
  color: var(--gray-800, #1f2937);
  font-family: Noto Sans KR;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  // margin-left: 0.5rem;
  flex-basis: 90%;
}

.close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  margin-left: auto;
}

.inputWrapper {
  width: 100%;
}

.label {
  height: fit-content;
  color: var(--gray-800, #1f2937);
  font-family: Noto Sans KR;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input {
  display: flex;
  width: 100%;
  max-width: 38.5rem;
  max-height: 3.7rem;
  padding: 1rem 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200, #e5e7eb);
  background: var(--Color-2, #fff);
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: var(--gray-800, #1f2937);
  transition: 0.2s, border 0.2s;

  &:hover,
  &:focus {
    border: 1px solid var(--orange);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(234, 85, 20, 0.1);
  }

  &::placeholder {
    color: var(--gray-400, #9ca3af);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 38.5rem;
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.button {
  display: flex;
  align-self: stretch;
  padding: 0.6rem 1rem;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.5rem;
  background: var(--orange);
  color: #fff;
  margin-top: auto;
  margin-left: auto;
  cursor: pointer;
}

.removeButton {
  display: flex;
  padding: 0.6rem 1rem;
  align-items: center;
  border: 1px solid var(--gray-200, #e5e7eb);
  border-radius: 0.5rem;
  background: var(--Color-2, #fff);
  color: var(--gray-800, #1f2937);
  margin-top: auto;
  font-weight: 500;
  cursor: pointer;
}

.colorWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(../../assets/icons/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.15s, visibility 0.15s;
  }

  @media (max-width: 600px) {
    width: 3rem;
    height: 3rem;
  }

  &Active {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}
