.header {
  position: relative;
  display: flex;
  width: 100vw;
  height: 6.8rem;
  flex-shrink: 0;
  background: var(--orange);
  padding: 1.5rem 4rem 1.5rem 3.5rem;

  // 미디어 쿼리
  @media (max-width: 768px) {
    height: 6rem;
    padding: 1rem 3rem;
    background: white;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 12rem;
    height: 3.8rem;
    flex-shrink: 0;
  }

  .menu {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    list-style: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 2.8rem;

    // 미디어 쿼리
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 4.4rem;
      width: 75%;
      height: 100vh;
      background-color: #fff;
      padding: 8.7rem 4.2rem;
      color: var(--gray-900);
      z-index: 5;
    }

    .item {
      cursor: pointer;
      &.active {
        color: white;
      }
      &:last-child {
        margin-left: auto;
      }

      // 미디어 쿼리
      @media (max-width: 768px) {
        font-size: 1.8rem;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 6;
}
