.container {
  display: flex;
  gap: 2.4rem;
  justify-content: flex-end;
  width: calc(100% - 2.4rem * 2);
  height: calc(100vh - 2.4rem * 2 - 6.8rem);
  margin: 2.4rem;
  padding: 3.2rem;
  border-radius: 0.7rem;
  border: 1px solid rgba(229, 231, 235, 0.8);
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 25%;
  height: 100%;
}

.eventList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5.1rem;
  flex-grow: 1;
  overflow-y: auto;

  // WebKit 기반 브라우저를 위한 스크롤바 스타일
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-200); // gray-200 색상
    border-radius: 10px;
  }

  // Firefox를 위한 스크롤바 스타일
  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-200) transparent;
  }
}

.eventListRow {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

.eventText {
  color: var(--gray-800, #1f2937);
  font-family: Noto Sans KR;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.eventDday {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 50px;
  height: 100%;
  color: var(--gray-400, #9ca3af);
  text-align: right;
  font-family: Noto Sans KR;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12rem;
  margin-left: auto;
  margin-right: 1rem;
}

.eventWrapper {
  display: flex;
  flex-direction: column;
  min-height: 23.6rem;
  border-radius: 0.7rem;
  border: 1px solid var(--gray-200, #e5e7eb);
  padding: 1.8rem;
}

.invisible {
  visibility: hidden;
}

.titleWrapper {
  display: flex;
  align-items: center;
  // height:
  gap: 0.9rem;
  margin-bottom: 1.5rem;
}

.eventColor {
  width: 1.2rem;
  height: 100%;
  background: var(--gray-200, #e5e7eb); // 이벤트 색상이 지정되지 않았을 때의 색상
}

.title {
  color: var(--gray-800, #1f2937);
  font-size: 1.5rem;
  font-weight: 500;
}

.row {
  display: flex;
  margin: 0.3rem 0;
}

.subtitleWrapper {
  min-width: 35px;
}

.subtitle {
  color: var(--gray-600, #4b5563);
  // font-family: Noto Sans KR;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content {
  color: var(--gray-600, #4b5563);
  // font-family: Noto Sans KR;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.button {
  width: fit-content;
  justify-self: flex-end;
  align-self: flex-end;
  display: inline-flex;
  padding: 0.8rem 1.3rem;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.7rem;
  border: 1px solid var(--gray-200, #e5e7eb);
  color: var(--gray-900, #111827);
  font-family: Noto Sans KR;
  background-color: white;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: auto;
  cursor: pointer;
}
